body {
    margin: 15px;
    height: 100%;
    font-size: 16px;
}

#sceneDiv {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 68px;
}

#sceneDiv .select {
    margin: 0;
    width: 50%;
}

#runnerInfo {
    display: inline-block;
}

.playerDiv {
    display: flex;
    height: 68px;
}

.playerDiv .input {
    width: 292px;
    margin: 0;
    margin-right: 8px;
}

.iconButton {
    vertical-align: top;
    margin: 0 2px;
    margin-top: 3px;
    width: 40px;
}

.material-icons {
    margin-top: 6px;
}

#syncStreams {
    width: calc(100% - 8px);
    margin-top: -2px;
    margin-bottom: 20px;
}