#toggleBot {
	width: 50%;
	text-align: center;
	margin: 0 auto;
	display: block;
}

.userContainer {
    display: flex;
    width: 100%;
    height: 50px;
    vertical-align: middle;
    margin-top: 10px;
}

.avatar {
    width: 44px;
    height: 44px;
    border-radius: 1000px;
    vertical-align: middle;
    border: 3px solid transparent;
}

.username {
    font-family: 'Whitney';
    width: 100%;
    height: 100%;
    margin: 0 10px;
    line-height: 50px;
}

.muteButton {
	width: 68px;
	height: 48px;
	margin: 0;
	margin-top: 2px;
	background-color: transparent;
	box-shadow: none;
	float: left;
}

.muteButton:hover {
	background-color: #3F495D;
}

.deafButton {
	width: 68px;
	height: 48px;
	margin: 0;
	margin-top: 2px;
	background-color: transparent;
	box-shadow: none;
	float: left;
}

.deafButton:hover {
	background-color: #3F495D;
}

.material-icons {
	margin-top: 5px;
}

.input {
	margin: 0;
    margin-left: 10px;
    width: 200px;
	float: right;
}

#botInactive {
	width: 100%;
	height: 100%;
	display: none;
}

#botActive {
	width: 100%;
	height: 100%;
	display: none;
}